{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}关于{% endblock %}
{% block content %}

<div class="container">
    <div class="row clearfix">
        <div class="col-md-12 column">
            <div class="jumbotron">
                <h2>
                    尊敬的用户您好!
                </h2>
                <p>
                    欢迎您使用校园极客交流社区，希望您使用愉快!下面是校园极客交流社区的介绍。
                </p>
                <p>
                    <a class="btn btn-primary btn-large" href="#">Learn more</a>
                </p>
            </div>
            <div class="row clearfix">
                <div class="col-md-4 column">
                    <img alt="140x140" src="/static/images/logo.png"/>
                </div>
                <div class="col-md-8 column">
                    <p>

                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}