{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}
    我的粉丝
{% endblock %}
{% block content %}

    <style>
        a:link {
            color: black;
        }

        /* 未被访问的链接 */
        a:visited {
            color: black;
        }

        /* 已被访问的链接 */
        a:hover {
            color: #FF00FF;
        }

        /* 鼠标指针移动到链接上 */
        a:active {
            color: red;
        }

        left:

        50
        %
        ;

        /* 正在被点击的链接 */
    </style>

    <style type="text/css">
        .wrap li {
            height: 50px;
            margin: 1px;
        }

        .active {
            font-weight: bold;
            background-color: darkred;
            color: white;
        }
    </style>


    <div class="container">
        <div class="row clearfix">
            <div class="col-md-12 column">
                <div class="row clearfix">
                    <div class="col-md-2 column">
                        <ul class="nav nav-list " style="background: pink">

                            <li>
                                <a href="/login/usermessage/">个人资料</a>
                            </li>
                            <li>
                                <a href="/login/shoucang/">我的收藏</a>
                            </li>
                            <li>
                                <a href="/login/guanzhu">我的关注</a>
                            </li>
                            <li class="active">
                                <a href="/login/fensi/">我的粉丝</a>
                            </li>
                            <li>
                                <a href="#">我的博客</a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-10 column">
                        <h3>我的粉丝</h3>
                        <hr>
                        <div class="col-md-1 column">
                            <img alt="300x200" src="/static/media/{{ user.touxiang }}" class=""
                                 style="position: absolute;top: 20px; right: 10px;border-radius: 25px;border: none;"
                                 width="50px" height="50px"/>
                        </div>
                        <div class="col-md-11 column">
                            <br>
                            <a href="#"><strong>{{ user.name }}</strong></a>
                            <button class="btn" style="float: right">取消关注</button>
                            <hr>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}