{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}主页{% endblock %}
{% block css %}
    <link rel="stylesheet" href={% static "css/base.css" %}>
{% endblock %}
{% block content %}
    {% if request.session.is_login %}
        <h1>你好,{{ request.session.user_name }}！欢迎回来！</h1>
    {% else %}
        <h1>你尚未登录，只能访问公开内容！</h1>
    {% endif %}
    <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
    <html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
        <title>焦点学苑</title>

    </head>

    <body>


    <div class="wrap">
        <div class="cont-box">


            <div class="cont-b fl">


            </div>

            <div class="cont-c fr">

                <div class="cont-c2 fr"></div>
            </div>
        </div>
        <div class="kg-box">
            <div class="kg-title">文章推荐</div>
            <div class="kg">
                <a href="">
                    <div class="kg-a fl">
                        <div class="kg-a1 fl"><img src="/static/upload/kg-a1.jpg"></div>
                        <div class="kg-a2 fl">
                            <div class="kg-a3">只要生活有期盼，一个人也可以很好。</div>
                            <div class="kg-a4">水果大人</div>
                            <div class="kg-a5">发表于 2015-11-02</div>
                            <div class="kg-a6">
                                <span><img src="/static/images/col-c1.jpg">0</span>
                                <span><img src="/static/images/col-c2.jpg">3</span>
                                <em><img src="/static/images/col-c3.jpg"></em>
                                <em><img src="/static/images/col-c4.jpg"></em>
                                <em><img src="/static/images/col-c5.jpg"></em>
                            </div>
                            <div class="kg-t"><img src="/static/images/kg-t.png"></div>
                        </div>
                    </div>
                </a>

                <a href="">
                    <div class="kg-b fl">
                        <div class="kg-b1 fl"><img src="/static/upload/kg-a2.jpg"></div>
                        <div class="kg-a2 fl">
                            <div class="kg-a3">只要生活有期盼，一个人也可以很好。</div>
                            <div class="kg-a4">水果大人</div>
                            <div class="kg-a5">发表于 2015-11-02</div>
                            <div class="kg-a6">
                                <span><img src="/static/images/col-c1.jpg">0</span>
                                <span><img src="/static/images/col-c2.jpg">3</span>
                                <em><img src="/static/images/col-c3.jpg"></em>
                                <em><img src="/static/images/col-c4.jpg"></em>
                                <em><img src="/static/images/col-c5.jpg"></em>
                            </div>
                            <div class="kg-t"><img src="/static/images/kg-t.png"></div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="kg">
                <a href="">
                    <div class="kg-a fl">
                        <div class="kg-a2 fl">
                            <div class="kg-a3">只要生活有期盼，一个人也可以很好。</div>
                            <div class="kg-a4">水果大人</div>
                            <div class="kg-a5">发表于 2015-11-02</div>
                            <div class="kg-a6">
                                <span><img src="/static/images/col-c1.jpg">0</span>
                                <span><img src="/static/images/col-c2.jpg">3</span>
                                <em><img src="/static/images/col-c3.jpg"></em>
                                <em><img src="/static/images/col-c4.jpg"></em>
                                <em><img src="/static/images/col-c5.jpg"></em>
                            </div>
                            <div class="kg-y"><img src="/static/images/kg-y.png"></div>
                        </div>
                        <div class="kg-a1 fl"><img src="/static/upload/kg-a3.jpg"></div>
                    </div>
                </a>
                <div class="kg-b fl">
                    <a href="">
                        <div class="kg-c1 fl"><img src="/static/upload/kg-a4.jpg"></div>
                        <div class="kg-a2 fl">
                            <div class="kg-a3">只要生活有期盼，一个人也可以很好。</div>
                            <div class="kg-a4">水果大人</div>
                            <div class="kg-a5">发表于 2015-11-02</div>
                            <div class="kg-a6">
                                <span><img src="/static/images/col-c1.jpg">0</span>
                                <span><img src="/static/images/col-c2.jpg">3</span>
                                <em><img src="/static/images/col-c3.jpg"></em>
                                <em><img src="/static/images/col-c4.jpg"></em>
                                <em><img src="/static/images/col-c5.jpg"></em>
                            </div>
                            <div class="kg-t"><img src="/static/images/kg-t.png"></div>
                        </div>
                    </a>
                    <a href="">
                        <div class="kg-c2 fl"><img src="/static/upload/kg-a5.jpg"></div>
                    </a>
                </div>


            </div>
            <div class="kg">
                <a href="">
                    <div class="kg-a fl">
                        <div class="kg-a1 fl"><img src="/static/upload/kg-a5.jpg"></div>
                        <div class="kg-a2 fl">
                            <div class="kg-a3">只要生活有期盼，一个人也可以很好。</div>
                            <div class="kg-a4">水果大人</div>
                            <div class="kg-a5">发表于 2015-11-02</div>
                            <div class="kg-a6">
                                <span><img src="/static/images/col-c1.jpg">0</span>
                                <span><img src="/static/images/col-c2.jpg">3</span>
                                <em><img src="/static/images/col-c3.jpg"></em>
                                <em><img src="/static/images/col-c4.jpg"></em>
                                <em><img src="/static/images/col-c5.jpg"></em>
                            </div>
                            <div class="kg-t"><img src="/static/images/kg-t.png"></div>
                        </div>
                    </div>
                </a>

                <a href="">
                    <div class="kg-a fl">
                        <div class="kg-a2 fl">
                            <div class="kg-a3">只要生活有期盼，一个人也可以很好。</div>
                            <div class="kg-a4">水果大人</div>
                            <div class="kg-a5">发表于 2015-11-02</div>
                            <div class="kg-a6">
                                <span><img src="/static/images/col-c1.jpg">0</span>
                                <span><img src="/static/images/col-c2.jpg">3</span>
                                <em><img src="/static/images/col-c3.jpg"></em>
                                <em><img src="/static/images/col-c4.jpg"></em>
                                <em><img src="/static/images/col-c5.jpg"></em>
                            </div>
                            <div class="kg-y"><img src="/static/images/kg-y.png"></div>
                        </div>
                        <div class="kg-a1 fl"><img src="/static/upload/kg-a6.jpg"></div>
                    </div>
                </a>
                <a href="">
                    <div class="kg-a2 fl">
                        <div class="kg-a3">只要生活有期盼，一个人也可以很好。</div>
                        <div class="kg-a4">水果大人</div>
                        <div class="kg-a5">发表于 2015-11-02</div>
                        <div class="kg-a6">
                            <span><img src="/static/images/col-c1.jpg">0</span>
                            <span><img src="/static/images/col-c2.jpg">3</span>
                            <em><img src="/static/images/col-c3.jpg"></em>
                            <em><img src="/static/images/col-c4.jpg"></em>
                            <em><img src="/static/images/col-c5.jpg"></em>
                        </div>
                        <div class="kg-y"><img src="/static/images/kg-y.png"></div>
                    </div>
                </a>
            </div>
            <div class="kg">
                <a href="">
                    <div class="kg-b fl">
                        <div class="kg-a2 fl">
                            <div class="kg-a3">只要生活有期盼，一个人也可以很好。</div>
                            <div class="kg-a4">水果大人</div>
                            <div class="kg-a5">发表于 2015-11-02</div>
                            <div class="kg-a6">
                                <span><img src="/static/images/col-c1.jpg">0</span>
                                <span><img src="/static/images/col-c2.jpg">3</span>
                                <em><img src="/static/images/col-c3.jpg"></em>
                                <em><img src="/static/images/col-c4.jpg"></em>
                                <em><img src="/static/images/col-c5.jpg"></em>
                            </div>
                            <div class="kg-y"><img src="/static/images/kg-y.png"></div>
                        </div>
                        <div class="kg-b1 fl"><img src="/static/upload/kg-a2.jpg"></div>
                    </div>
                </a>

                <a href="">
                    <div class="kg-a fl">
                        <div class="kg-a2 fl">
                            <div class="kg-a3">只要生活有期盼，一个人也可以很好。</div>
                            <div class="kg-a4">水果大人</div>
                            <div class="kg-a5">发表于 2015-11-02</div>
                            <div class="kg-a6">
                                <span><img src="/static/images/col-c1.jpg">0</span>
                                <span><img src="/static/images/col-c2.jpg">3</span>
                                <em><img src="/static/images/col-c3.jpg"></em>
                                <em><img src="/static/images/col-c4.jpg"></em>
                                <em><img src="/static/images/col-c5.jpg"></em>
                            </div>
                            <div class="kg-y"><img src="/static/images/kg-y.png"></div>
                        </div>
                        <div class="kg-a1 fl"><img src="/static/upload/kg-a8.jpg"></div>
                    </div>
                </a>


            </div>
        </div>

        <div class="rng-box">
            <div class="kg-title">达人推荐</div>
            <ul class="rng-ul">
                <li>
                    <div class="rng-a"><img src="/static/upload/rng.jpg"></div>
                    <div class="rng-b"><a href=""><img src="/static/images/more.jpg"></a></div>
                </li>
                <li>
                    <div class="rng-a"><img src="/static/upload/rng.jpg"></div>
                    <div class="rng-b"><a href=""><img src="/static/images/more.jpg"></a></div>
                </li>
                <li>
                    <div class="rng-a"><img src="/static/upload/rng.jpg"></div>
                    <div class="rng-b"><a href=""><img src="/static/images/more.jpg"></a></div>
                </li>
                <li>
                    <div class="rng-a"><img src="/static/upload/rng.jpg"></div>
                    <div class="rng-b"><a href=""><img src="/static/images/more.jpg"></a></div>
                </li>
                <li>
                    <div class="rng-a"><img src="/static/upload/rng.jpg"></div>
                    <div class="rng-b"><a href=""><img src="/static/images/more.jpg"></a></div>
                </li>
            </ul>
        </div>

        <div class="kg-box">
            <div class="kg-title">论坛文章推荐</div>
            <div class="kg">
                <a href="">
                    <div class="kg-a fl">
                        <div class="kg-a2 fl">
                            <div class="kg-a3">只要生活有期盼，一个人也可以很好。</div>
                            <div class="kg-a4">水果大人</div>
                            <div class="kg-a5">发表于 2015-11-02</div>
                            <div class="kg-a6">
                                <span><img src="/static/images/col-c1.jpg">0</span>
                                <span><img src="/static/images/col-c2.jpg">3</span>
                                <em><img src="/static/images/col-c3.jpg"></em>
                                <em><img src="/static/images/col-c4.jpg"></em>
                                <em><img src="/static/images/col-c5.jpg"></em>
                            </div>
                            <div class="kg-y"><img src="/static/images/kg-y.png"></div>
                        </div>
                        <div class="kg-a1 fl"><img src="/static/upload/kg-a3.jpg"></div>
                    </div>
                </a>
                <div class="kg-b fl">
                    <a href="">
                        <div class="kg-c1 fl"><img src="/static/upload/kg-a4.jpg"></div>
                        <div class="kg-a2 fl">
                            <div class="kg-a3">只要生活有期盼，一个人也可以很好。</div>
                            <div class="kg-a4">水果大人</div>
                            <div class="kg-a5">发表于 2015-11-02</div>
                            <div class="kg-a6">
                                <span><img src="/static/images/col-c1.jpg">0</span>
                                <span><img src="/static/images/col-c2.jpg">3</span>
                                <em><img src="/static/images/col-c3.jpg"></em>
                                <em><img src="/static/images/col-c4.jpg"></em>
                                <em><img src="/static/images/col-c5.jpg"></em>
                            </div>
                            <div class="kg-t"><img src="/static/images/kg-t.png"></div>
                        </div>
                    </a>
                    <a href="">
                        <div class="kg-c2 fl"><img src="/static/upload/kg-a5.jpg"></div>
                    </a>
                </div>


            </div>
            <div class="kg">
                <a href="">
                    <div class="kg-a fl">
                        <div class="kg-a1 fl"><img src="/static/upload/kg-a5.jpg"></div>
                        <div class="kg-a2 fl">
                            <div class="kg-a3">只要生活有期盼，一个人也可以很好。</div>
                            <div class="kg-a4">水果大人</div>
                            <div class="kg-a5">发表于 2015-11-02</div>
                            <div class="kg-a6">
                                <span><img src="/static/images/col-c1.jpg">0</span>
                                <span><img src="/static/images/col-c2.jpg">3</span>
                                <em><img src="/static/images/col-c3.jpg"></em>
                                <em><img src="/static/images/col-c4.jpg"></em>
                                <em><img src="/static/images/col-c5.jpg"></em>
                            </div>
                            <div class="kg-t"><img src="/static/images/kg-t.png"></div>
                        </div>
                    </div>
                </a>

                <a href="">
                    <div class="kg-a fl">
                        <div class="kg-a2 fl">
                            <div class="kg-a3">只要生活有期盼，一个人也可以很好。</div>
                            <div class="kg-a4">水果大人</div>
                            <div class="kg-a5">发表于 2015-11-02</div>
                            <div class="kg-a6">
                                <span><img src="/static/images/col-c1.jpg">0</span>
                                <span><img src="/static/images/col-c2.jpg">3</span>
                                <em><img src="/static/images/col-c3.jpg"></em>
                                <em><img src="/static/images/col-c4.jpg"></em>
                                <em><img src="/static/images/col-c5.jpg"></em>
                            </div>
                            <div class="kg-y"><img src="/static/images/kg-y.png"></div>
                        </div>
                        <div class="kg-a1 fl"><img src="/static/upload/kg-a6.jpg"></div>
                    </div>
                </a>
                <a href="">
                    <div class="kg-a2 fl">
                        <div class="kg-a3">只要生活有期盼，一个人也可以很好。</div>
                        <div class="kg-a4">水果大人</div>
                        <div class="kg-a5">发表于 2015-11-02</div>
                        <div class="kg-a6">
                            <span><img src="/static/images/col-c1.jpg">0</span>
                            <span><img src="/static/images/col-c2.jpg">3</span>
                            <em><img src="/static/images/col-c3.jpg"></em>
                            <em><img src="/static/images/col-c4.jpg"></em>
                            <em><img src="/static/images/col-c5.jpg"></em>
                        </div>
                        <div class="kg-y"><img src="/static/images/kg-y.png"></div>
                    </div>
                </a>
            </div>


        </div>

        <div class="idx-btm"><a href=""><img src="/static/upload/act-f.jpg"></a></div>
    </div><!--wrap-->
    </div>


    <!--底部-->
    <div class="footer">
        <div class="wrap">
            <div class="foot">
                <div class="foot-left fl">
                    <a href="">关于我们</a>
                    <a href="">加入我们</a>
                    <a href="contact.html">联系我们</a>
                    <a href="">媒体采访</a>
                </div>

                <div class="foot-right fr">
                    <a href="">同城活动</a>
                    <a href="">课程资讯</a>
                    <a href="">最新发布</a>
                    <a href="">热门文章</a>
                </div>
            </div>
            <div class="foot-btm">网页制作by云邦</div>
        </div>
    </div>





    </body>
    </html>

{% endblock %}