{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}
    密码修改
{% endblock %}
{% block content %}

    <style>
        a:link {
            color: black;
        }

        /* 未被访问的链接 */
        a:visited {
            color: black;
        }

        /* 已被访问的链接 */
        a:hover {
            color: #FF00FF;
        }

        /* 鼠标指针移动到链接上 */
        a:active {
            color: red;
        }

        left:

        50
        %
        ;

        /* 正在被点击的链接 */
    </style>

    <style type="text/css">
        .wrap li {
            height: 50px;
            margin: 1px;
        }

        .active {
            font-weight: bold;
            background-color: darkred;
            color: white;
        }
    </style>


    <div class="container">
        <div class="row clearfix">
            <div class="col-md-12 column">
                <div class="row clearfix">
                    <div class="col-md-2 column">
                        <ul class="nav nav-list " style="background: pink">
                             <li>
                                <a href="/login/zhanghao">账号设置首页</a>
                            </li>

                            <li>
                                <a href="/login/mima/">修改密码</a>
                            </li>
                            <li class="active">
                                <a href="/login/youxiang/">修改邮箱</a>
                            </li>

                        </ul>
                    </div>
                    <div class="col-md-10 column">
                        <h3>密码修改</h3>
                        <hr>
                         {% for new in news_list %}

                            <div class="thumbnail">

                                <div class="caption">
                                    <a href="/news/new/{{ new.blog.id }}">

                                        <strong>{{ new.blog.title }}</strong>
                                    </a>
                                    <p>{{ new.blog.author.name }}__{{ new.blog.p_time }}</p>

                                    <div class="summary oneline">
                                        <p>
                                            {{ new.blog.contenthead }}
                                        </p>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                        {% for tiezi in tiezi_list %}

                            <div class="thumbnail">

                                <div class="caption">
                                    <a href="/luntan/tiezi/{{ tiezi.tiezi.id }}">

                                        <strong>{{ tiezi.tiezi.title }}</strong>
                                    </a>
                                    <p>{{ tiezi.tiezi.author.name }}__{{ tiezi.tiezi.p_time }}</p>


                                </div>
                            </div>

                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}