
<!DOCTYPE html>
<html>
<head>
  <script src="/static/tinymce/tinymce.min.js"></script>


<script>
  tinymce.init({
      language: "zh_CN",
    selector:'textarea.content', //表单控件.样式名称 - 绑定textarea
    height:"140", //高度
    width:"280", //宽度
    toolbar_items_size: 'small', //控件大小
    menubar:true, //是否显示菜单栏
    plugins: ["link code"], //插件区，激活控件
    toolbar: "link code",  //控件区，显示控件
    //名称前后显示，影响控件显示位置
  });
</script>

</head>
<body>
  <textarea class="content">Next, start a free trial!</textarea>
</body>
</html>
