</html>{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}
    我的博客
{% endblock %}
{% block content %}
    <div class="container">
        <div class="row clearfix">
            <div class="col-md-12 column">
                <h2 style="">{{ user.name }}的博客</h2>
                <hr>
            </div>
        </div>
        <div class="row clearfix">
            <div class="col-md-3 column">
                <div class="col-md-3 column">
                    <img alt="300x200" src="/static/media/{{ user.touxiang }}" class=""
                         style="position: absolute;top: 20px; right: 10px;border-radius: 25px;border: none;"
                         width="50px" height="50px"/>
                </div>
                <div class="col-md-9 column">

                    <br>
                    <a href="#"><strong>{{ user.name }}</strong></a>
                    </button>
                    <hr>


                </div>
                <p>&nbsp;&nbsp;&nbsp;<a
                        href="">帖子:{{ user.tiezi.all|length }}</a>&nbsp;&nbsp;&nbsp;关注:{{ user.guanzhu.all|length }}
                    &nbsp;&nbsp;&nbsp;评论:{{ user.pinglun.all|length }}
                </p>
            </div>
            <div class="col-md-9 column">
                {% for blog in blog_list %}
                    <div class="thumbnail">

                        <div class="caption">
                            <a href="/news/new/{{ blog.id }}">

                                <strong>{{ blog.title }}</strong>
                            </a>
                            <p>{{ blog.author.name }}__{{ blog.p_time }}</p>

                            <div class="summary oneline">
                                <p>
                                    {{ blog.contenthead }}
                                </p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}