{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}新闻{% endblock %}

{% block css %}

{% endblock %}
{% block content %}


    <style>
        a:link {
            color: black;
        }

        a:visited {
            color: black;
        }

        a:hover {
            color: deeppink;
        }

        a:active {
            color: black;
        }
    </style>
    <style>
        .like {
            font-size: 66px;
            color: #ccc;
            cursor: pointer;
        }

        .cs {
            color: #f00;
        }
    </style>

    <script typet="text/javascript" src="/static/js/jq.min.js"></script>
    <script>
        $(function () {
            $(".like").click(function () {
                $(this).toggleClass('cs');
            })
        })
    </script>

    <div class="container">
        <div class="row clearfix">
            <div class="col-md-12 column">


            </div>
        </div>
        <style>
            pre {
                font-size: 20px;
                font-family: "微软雅黑";
                color: black;
            }
        </style>
        <div class="row clearfix">
            <div class="col-md-9 column">
                <h1>{{ new.title }}</h1>
                <p class="like" style="float:left">&#10084;</p>
                <hr>
                {{ new.p_time }}&nbsp;&nbsp;&nbsp;<a
                    href="#">{{ new.author.name }}</a>&nbsp;&nbsp;&nbsp;阅读数：{{ new.yuedushu }}
                <hr>
                {% autoescape off %}
                    {{ new.content }}
                {% endautoescape %}
                <hr>
            </div>
            <div class="col-md-3 column">
                <div class="col-md-3 column">
                    <img alt="300x200" src="/static/media/{{ new.author.touxiang }}" class=""
                         style="position: absolute;top: 20px; right: 10px;border-radius: 25px;border: none;"
                         width="50px" height="50px"/>
                </div>
                <div class="col-md-9 column">

                    <br>
                    <a href="#"><strong>{{ new.author.name }}</strong></a>&nbsp;&nbsp;&nbsp;&nbsp;
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<form action="/news/new/{{ id }}" method="post"
                                                                          style="float: right">
                    {% csrf_token %}
                    <input type="hidden" name="author_id" value="{{ new.author_id }}">
                    {% if user.id != authorid %}

                        {% if new.author.name in gaunzhu %}
                            <button type="submit" class="  pull-right"
                                    onclick="show1({{ luntan.id }})">
                                <span id="false{{ luntan.id }}">已关注</span>
                            </button>
                        {% else %}
                            <button type="submit" class=" pull-right"
                                    onclick="show1({{ luntan.id }})">
                                <span id="true{{ luntan.id }}">关注</span>
                            </button>
                        {% endif %}
                    {% endif %}

                </form>
                    <hr>


                </div>
                <h4>&nbsp;&nbsp;&nbsp;<a
                        href="">原创:{{ new.author.news.all|length }}</a>&nbsp;&nbsp;&nbsp;关注:{{ new.author.follows.all|length }}&nbsp;&nbsp;&nbsp;粉丝:{{ new.author.fans.all|length }}
                    &nbsp;&nbsp;&nbsp;评论:
                </h4>
            </div>

        </div>
        <div class="row clearfix">
            <div class="col-md-12 column">
                <div class="panel-group" id="panel-38111">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <a class="panel-title collapsed" data-toggle="collapse" data-parent="#panel-38111"
                               href="#panel-element-693324">热门评论</a>
                        </div>
                        <div id="panel-element-693324" class="panel-collapse collapse">
                            <div class="panel-body">
                                Anim pariatur cliche...
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <a class="panel-title collapsed" data-toggle="collapse" data-parent="#panel-38111"
                               href="#panel-element-701757">热门新闻</a>
                        </div>
                        <div id="panel-element-701757" class="panel-collapse collapse">
                            <div class="panel-body">
                                Anim pariatur cliche...
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
