{% extends "base.html" %}
{% load staticfiles %}
{% block title %}论坛{% endblock %}
{% block content %}

    <style>
        a:link {
            color: black;
        }

        /* 未被访问的链接 */
        a:visited {
            color: black;
        }

        /* 已被访问的链接 */
        a:hover {
            color: #FF00FF;
        }

        /* 鼠标指针移动到链接上 */
        a:active {
            color: black;
        }

        left:

        50
        %
        ;

        /* 正在被点击的链接 */

    </style>
    <div class="container">
        <div class="row clearfix">
            <div class="col-md-12 column">
                <ul class="breadcrumb">
                    <li>
                        <a href="/luntan/community/">论坛首页</a>
                    </li>
                    <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">精选板块 <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Action</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="#">Separated link</a></li>
                    </ul>
                </li>
                    <li>
                        <a href="/luntan/post/"><button class="btn-danger">我要发帖</button></a>
                    </li>
                </ul>
                {% if request.session.is_login %}
                    <div class="alert alert-success alert-dismissable">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                        <h4>
                            提示!
                        </h4> 你好,<strong>{{ request.session.user_name }}</strong>！欢迎回来！{{ count }}
                    </div>
                {% else %}
                    <div class="alert alert-success alert-dismissable">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                        <h4>
                            提示!
                        </h4> 您尚未登录只能访问公开内容! <a href="/login/" class="alert-link">登录</a>
                    </div>
                {% endif %}
                <div class="container">
                    <div class="row clearfix">
                        <div class="col-md-4 column">
                            <div class="carousel slide" id="carousel-395538">
                                <ol class="carousel-indicators">
                                    <li class="active" data-slide-to="0" data-target="#carousel-395538">
                                    </li>
                                    <li data-slide-to="1" data-target="#carousel-395538">
                                    </li>
                                    <li data-slide-to="2" data-target="#carousel-395538">
                                    </li>
                                </ol>
                                <div class="carousel-inner">
                                    <div class="item active">
                                        <img alt=""
                                             src="/static/images/c1.jpeg"/>
                                        <div class="carousel-caption">
                                            <h4>
                                                学习基础的反黑客知识
                                            </h4>
                                            <p>

                                            </p>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <img alt=""
                                             src="/static/images/c2.jpeg"/>
                                        <div class="carousel-caption">
                                            <h4>
                                                正则表达式入门经典
                                            </h4>
                                            <p>

                                            </p>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <img alt=""
                                             src="/static/images/c3.jpg"/>
                                        <div class="carousel-caption">
                                            <h4>
                                                黑客入门与攻防精解
                                            </h4>
                                            <p>

                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <a class="left carousel-control" href="#carousel-395538" data-slide="prev"><span
                                        class="glyphicon glyphicon-chevron-left"></span></a> <a
                                    class="right carousel-control"
                                    href="#carousel-395538"
                                    data-slide="next"><span
                                    class="glyphicon glyphicon-chevron-right"></span></a>
                            </div>
                        </div>
                        <div class="col-md-8 column">
                            <div class="tabbable" id="tabs-506485">
                                <ul class="nav nav-tabs">
                                    <li class="active">
                                        <a href="#panel-769391" data-toggle="tab">热门帖子</a>
                                    </li>
                                    <li>
                                        <a href="#panel-431582" data-toggle="tab">最新帖子</a>
                                    </li>
                                </ul>
                                <div class="tab-content">
                                    <div class="tab-pane active" id="panel-769391">
                                        <p>
                                        <table class="table table-striped">
                                            <thead>
                                            <tr>

                                                <th>
                                                    题目
                                                </th>
                                                <th>
                                        作者
                                    </th>
                                                <th>
                                                    发表时间
                                                </th>

                                            </tr>
                                            </thead>
                                            {% for tiezi in tiezi_list1 %}
                                                <tbody>
                                                <tr>

                                                    <td>
                                                        <a href="/luntan/tiezi/{{ tiezi.id }}">{{ tiezi.title }}</a>
                                                    </td>
                                                    <td>
                                                        {{ tiezi.name }}
                                                    </td>
                                                    <td>
                                                        {{ tiezi.p_time }}
                                                    </td>

                                                </tr>

                                                </tbody>
                                            {% endfor %}
                                        </table>
                                        </p>
                                    </div>
                                    <div class="tab-pane" id="panel-431582">
                                        <p>
                                        <table class="table table-striped">
                                            <thead>
                                            <tr>

                                                <th>
                                                    题目
                                                </th>
                                                <th>
                                        作者
                                    </th>
                                                <th>
                                                    发表时间
                                                </th>
                                            </tr>
                                            </thead>
                                        {% for tiezi in tiezi_list2 %}
                                            <tbody>
                                            <tr>

                                                <td>
                                                    <a href="/luntan/tiezi/{{ tiezi.id }}">{{ tiezi.title }}</a>
                                                </td>
                                                <td>
                                                    {{ tiezi.name }}
                                                </td>
                                                <td>
                                                    {{ tiezi.p_time }}
                                                </td>

                                            </tr>

                                            </tbody>
                                        {% endfor %}
                                        </table>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="container">
                        <div class="row clearfix">
                            <div class="col-md-12 column">
                                <div class="page-header">
                                    <h1>
                                        <small>极客社区论坛</small>
                                    </h1>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row clearfix">
                        <div class="col-md-2 column">
                            <h4><a href="/luntan/community/">论坛首页</a></h4>
                            <div class="panel-group" id="panel-340324">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <a class="panel-title" data-toggle="collapse" data-parent="#panel-340324"
                                           href="#panel-element-698628">我感兴趣的论坛</a>
                                    </div>
                                    <div id="panel-element-698628" class="panel-collapse in">
                                        <div class="panel-body">
                                            <li><a href="#">移动开发</a></li>
                                            <li><a href="#">人工智能</a></li>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <a class="panel-title collapsed" data-toggle="collapse"
                                           data-parent="#panel-340324"
                                           href="#panel-element-423067">移动开发</a>
                                    </div>
                                    <div id="panel-element-423067" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            Anim pariatur cliche...
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <a class="panel-title collapsed" data-toggle="collapse"
                                           data-parent="#panel-340324"
                                           href="#panel-element-654321">游戏开发</a>
                                    </div>
                                    <div id="panel-element-654321" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            Anim pariatur cliche...
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <a class="panel-title collapsed" data-toggle="collapse"
                                           data-parent="#panel-340324"
                                           href="#panel-element-123456">人工智能</a>
                                    </div>
                                    <div id="panel-element-123456" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            Anim pariatur cliche...
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-8 column">
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th>
                                        主题
                                    </th>
                                    <th>
                                        作者
                                    </th>
                                    <th>
                                        发表时间
                                    </th>
                                    <th>
                                        访问/评论
                                    </th>
                                </tr>
                                </thead>
                                {% for tiezi in tiezi_list3 %}
                                    <tbody>
                                    <tr>
                                        <td>
                                            <a href="/luntan/tiezi/{{ tiezi.id }}">{{ tiezi.title }}</a>
                                        </td>
                                        <td>
                                            {{ tiezi.name }}
                                        </td>
                                        <td>
                                            {{ tiezi.p_time }}
                                        </td>
                                        <td>
                                            {{ tiezi.fangwenshu }}/ {{ tiezi.pingluns.all | length }}
                                        </td>
                                    </tr>

                                    </tbody>
                                {% endfor %}
                            </table>

                        </div>
                        <div class="col-md-2 column">
                            <h4>推荐新闻</h4>
                            {% for new in commend_list %}
                                <div class="thumbnail">
                                    <img alt="300x200"
                                         src="/static/images/{{ new.img }}"/>
                                    <div class="caption">
                                        <h3>

                                        </h3>
                                        <p>
                                            {{ new.title }}
                                        </p>
                                        <p>

                                        </p>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>



{% endblock %}