{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}
    帖子
{% endblock %}
{% block content %}
    {% if message %}
        <div class="alert alert-warning">{{ message }}</div>
    {% endif %}
    <script src="/static/tinymce/tinymce.min.js"></script>


     <script>
        tinymce.init({
            language: "zh_CN",
            selector: 'textarea.content', //表单控件.样式名称 - 绑定textarea
            height: "100", //高度
            width: "100", //宽度
            toolbar_items_size: 'small', //控件大小
            menubar: true, //是否显示菜单栏
            plugins: "link code,autoresize",
            autoresize_bottom_margin: 50,
            autoresize_max_height: 500,
            autoresize_min_height: 350,
            autoresize_on_init: true,
            autoresize_overflow_padding: 50,
            toolbar1: 'undo redo | styleselect | bold italic | link image',
            // 工具栏2
            toolbar2: 'alignleft aligncenter alignright',//控件区，显示控件
            //名称前后显示，影响控件显示位置
        });
    </script>
{#        <script type="text/javascript">#}
{#            function cause_submit() {#}
{#                var vl = document.getElementById('id_content').textContent;#}
{#                var len = vl.length;#}
{#                if (len < 10) {#}
{#                    alert('回帖不少于十个字');#}
{#                    return false;#}
{#                }#}
{#                document.getElementById('pinglun').scrollIntoView();#}
{#            }#}
{#        </script>#}
    <script type="text/javascript">
        function cause_reply(obj) {
            var name = "#name" + obj + ">p";
            var content = "#content" + obj + ">h4>p";
            var t = "引用" + obj + "楼" + $(name).text() + "的回复:" + $(content).text();

            tinyMCE.editors[0].setContent(t);
            document.getElementById('pinglun').scrollIntoView();

        }
    </script>
    <style>
        a:link {
            color: black;
        }

        a:visited {
            color: black;
        }

        a:hover {
            color: deeppink;
        }

        a:active {
            color: black;
    </style>
    <div class="container">
        <div class="row clearfix">
            <div class="col-md-12 column">
                <ul class="breadcrumb">
                    <li>
                        <a href="/luntan/community/">论坛首页</a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="false">精选板块 <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            {% for i in jingxuan_list %}
                                <li><a href="/luntan/luntan/{{ i.id }}">{{ i.name }}</a></li>
                            {% endfor %}
                        </ul>
                    </li>
                    <li>
                        <a href="/luntan/post/">
                            <button class="btn-danger">我要发帖</button>
                        </a>
                    </li>
                </ul>
                <div class="row clearfix">
                    <div class="col-md-9 column">
                        <div class="col-md-6 column">
                            <ul class="breadcrumb">
                                <li>
                                    <a href="/news/news/">论坛首页</a>
                                </li>
                                <li>
                                    <a href="/news/jishunews/">{{ luntan.belong.name }}</a>
                                </li>
                                <li>
                                    <a href="/luntan/luntan/{{ luntan.id }}">{{ luntan.name }}</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-md-6 column">
                        </div>
                    <div class="col-lg-12 column">
                        <p>
                            楼主
                        </p>
                        <hr>
                        <div class="row clearfix">
                            <div class="col-md-3 column">

                                <div class="thumbnail">
                                    <img alt="300x200"
                                         src="/static/media/{{ tiezi.author.touxiang }}"/>
                                    <div class="caption">
                                        <p>
                                            {{ tiezi.author.name }}
                                        </p>

                                    </div>
                                </div>
                            </div>
                            <div class="col-md-9 column">
                                <h4>
                                    {% autoescape off %}
                                        {{ tiezi.content }}
                                    {% endautoescape %}
                                </h4>
                            </div>
                        </div>
                        <div class="row clearfix">
                            <div class="col-md-3">

                            </div>
                            <div class="col-md-9">
                                <p>

                                <div>{{ tiezi.p_time }} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a
                                        href="#">举报</a><a href="#" style="float:right;">只看楼主</a></div>
                                </p>
                                <hr>
                            </div>
                        </div>

                        <hr>
                        <div class="row clearfix">
                            <div class="col-md-12 column">
                                {% for pinglun in pinglun_list %}

                                    <p>
                                        #{{ pinglun.louceng }}
                                    </p>
                                    <div class="row clearfix">
                                        <div class="col-md-3 column">
                                            <div class="thumbnail">
                                                <img alt="300x200" src="/static/media/{{ pinglun.author.touxiang }}"/>
                                                <div id='name{{ pinglun.louceng }}' class="caption">
                                                    <p>
                                                        {{ pinglun.author.name }}
                                                    </p>

                                                </div>
                                            </div>
                                        </div>
                                        <div id="content{{ pinglun.louceng }}" class="col-md-9 column">
                                            <h4>
                                                {% autoescape off %}
                                                    {{ pinglun.content }}
                                                {% endautoescape %}
                                            </h4>
                                        </div>
                                    </div>
                                    <div class="row clearfix">
                                        <div class="col-md-3">

                                        </div>
                                        <div class="col-md-9">
                                            <p>

                                            <div>{{ pinglun.p_time }} &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<button
                                                    class="btn btn-primary"
                                                    onclick="cause_reply({{ pinglun.louceng }})">回复
                                            </button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a
                                                    href="#">举报</a><a href="#" style="float:right;">只看他</a></div>
                                            </p>
                                            <hr>
                                        </div>
                                    </div>
                                    <hr>
                                {% endfor %}
                            </div>
                        </div>
                        <hr>
                        <div class="row clearfix">
                            <div class="col-md-12 column">
                                <form name="form1" class='form-pinglun' action="/luntan/tiezi/{{ tiezi.id }}"
                                      method="post">
                                    {% csrf_token %}
                                    <div class="form-group">
                                        <div id="pinglun">


                                            {{ pinlun_form.content.label_tag }}
                                            <textarea class="content" id="id_content" maxlength="21845" name="content"
                                                      rows="10"></textarea>


                                        </div>
                                    </div>


                                    <button type="reset" class="btn btn-default pull-left">重置</button>
                                    <button type="submit" class="btn btn-primary pull-right" onclick="cause_submit()">
                                        发表
                                    </button>

                                </form>


                            </div>
                        </div>
                        <div class="row clearfix">
                            <div class="col-md-12 column">
                            </div>
                        </div>
                    </div>
                    </div>
                    <div class="col-md-3 column">
                        <h4>猜你喜欢</h4>
                        {% for tuijian in tuijian_list %}
                            <div class="row">
                                <div class="col-md-12">
                                    <a href="#"><h4>{{ tuijian.title }}</h4></a>

                                    <p>{{ tuijian.contenthead }}</p>
                                    <hr>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row clearfix">
            <div class="text-center ">
                <div id="footer">
                    <div class="footerNav">
                        <a href="#">关于我们</a> | <a href="#">服务条款</a> | <a href="#">免责声明</a> | <a href="#">网站地图</a> |
                        <a
                                href="#">联系我们</a>
                    </div>
                    <div class="copyRight">
                        Copyright ©2010-2014 我的个人站点 版权所有
                    </div>
                </div>

            </div>
        </div>
{% endblock %}